<div id="debug"></div>
<div id="desktop" style="display: none;">
  <div class="pair-me">
    <p class="lead" id="status"></p>
    <h3 class="pair-me-heading">Enter this pair number</h3>
    <h2 id="pair-number"></h2>
  </div>
</div>
<div id="mobile" style="display: none;">
  <div class="pair-me">
  <p class="lead" id="mobile-status"></p>
  <h2 class="pair-me-heading">Pair device</h2>
  <input type="text" class="input-block-level" pattern="[0-9]*" placeholder="Pair number" name="pair_response" id="pair_response" />
  <button class="btn btn-large btn-primary">Go</button>
</div>
